/*
DIFERENCIA ENTRE DISPLAY:INLINE, BLOCK, E INLINE-BLOCK
INLINE (en linea)
* Respeta el margen y relleno de derecha e izquierda, pero no el de arriba y abajo
* NO pueden tener ancho ni alto, se convierten del tamaño de su contenido (si es que tienen)
* Permiten que otros elementos se pongan a sus costados

BLOCK:
* Este si respeta todos los margenes y rellenos
* Permite ancho y alto
* Forza un salto de linea despues de cada elemento (cada elemento ocupa su propio renglon)
* No permite que haya elementes a sus costados

INLINE-BLOCK elements:
* Es como una combinacion de los dos anteriores, respeta todos los margenes y rellenos, permite usar ancho y
alto, y permiten que otros elementos se pongan a sus costados


TAREA:
Escribeme la diferencia (aunque sea con tus propias palabras)
la diferencia entre position:absolute y position:relative

*/
a
{
	color:#22BCE0;
}
body
{
	background:#EEEEEE;
	font-family:arial;
	font-size:16px; 
}
header figure{
	float:left;
}
header{
	background:#3104B4; 
	color:white;
	overflow:hidden;
	padding:0.5em; 
	position:relative;
}
header h1{
	font-size:1.2em;
	margin:0 80px 0 0;
}
header #logo img{
	border-right:1px solid white;
	margin-right:0.5em;
	padding-right:0.5em;
	width:52px;
}
header #avatar
{
	position:absolute;
	right:0;
	top:0;
}
header #avatar img{
	border-radius:50%;
	width:55px;
}
#imagen img{
	width:150px;
}
nav 
{
	background:#80BCA3;
	padding:0 0.5em;
	position:relative;

}
nav ul
{
	list-style: none;
	margin:0;
	padding:0;

}
nav ul #publicar_nav 
{
	position:absolute;
	top:-0.3em;
	right:0;
}
nav ul #publicar_nav a
{
	background:#22BCE0;
	border-radius:0.5em;
	padding:0.8em;
	text-decoration: none;
}
nav ul li
{
	display:inline-block;
	margin:0 1.5em 0 0;
}
nav ul li a
{
	color:white;
	display:block;
	padding:0.5em 0;
	
}
